<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>图书信息管理系统</title>
		<link rel="stylesheet" type="text/css" href="/css/sbook.css" />
	</head>
	<script type="text/javascript">		
		var btnFirst=document.getElementById("btnFirst");
		var btnBack=document.getElementById("btnBack");
		
		var btnNext=document.getElementById("btnNext");
		var btnLast=document.getElementById("btnLast");
//		尾页
		function btnLast_click(keyword,pageCount,pno){
			if(pageCount!==pno){
				window.location="/search/"+keyword+'/'+pageCount;//组织参数 产生一个新的get请求
			}else{
				btnBack.disabled='disabled';
				btnLast.disabled='disabled';
			}
		}
//		首页
		function btnFirst_click(keyword,pageCount,pno){
			if(parseInt(pno)!==1){
				var page=1;
				window.location="/search/"+keyword+'/'+page;//组织参数 产生一个新的get请求
			}else{
				btnFirst.disabled='disabled';
				btnNext.disabled='disabled';
			}
		}
//		上一页
		function btnBack_click(keyword,pageCount,pno){
			if(pno==1){
				btnFirst.disabled='disabled';
				btnNext.disabled='disabled';
			}else{
			var page=parseInt(pno)-1;
			window.location="/search/"+keyword+'/'+page;//组织参数 产生一个新的get请求
			}
		}
//		下一页
		function btnNext_click(keyword,pageCount,pno){
			console.log(keyword,pageCount,pno);
			if(pno==pageCount){
				btnBack.disabled='disabled';
				btnLast.disabled='disabled';
			}else{
			var page=parseInt(pno)+1;
			window.location="/search/"+keyword+'/'+page;//组织参数 产生一个新的get请求
			}
		}
//		修改
		function btnUpdate_click(book_id,keyword,pno){
//			var keyword=document.getElementById("tbxkeyword").value.trim();
			window.location='/update/'+book_id+"/"+keyword+"/"+pno;
			
		}
	</script>
	<body>
		<form action="/search" method="post" id="form1">
			<table border="none" cellspacing="" cellpadding="">
				<tr>
					<td class="title" colspan="5">图书信息管理系统</td>
				</tr>
				<tr>
					<td colspan="5">
						书名或作者：<input type="text" name="keyword" id="tbxkeyword" value="<%=keyword%>" placeholder="关键字不能为空" autofocus="autofocus" required="required" />
						<input type="submit" name="btnSearch" class="but" value="查找" />
					</td>
				</tr>
				<tr>
					<td>序号</td>
					<td>书名</td>
					<td>作者</td>
					<td>价格</td>
					<td>修改</td>
				</tr>
				
				
				<!--结果查询栏-->
				<%   books.forEach(function(book){  %>
				<tr>
					<td><%=book.ID%></td>
					<td><%=book.bookname%></td>
					<td><%=book.author%></td>
					<td><%=book.price%></td>
					<td><input type="button" name="" id="btnUpdate" value="修改" 
						onclick="btnUpdate_click('<%=book.ID%>','<%=keyword%>','<%=pno%>');"/></td>
				</tr>
				<% }) %>
				
				
				<!--查询结果为空栏-->
				<%  if(books.length==0){ %>					
				<tr> <td colspan="5" style="color: red; font-size: 20px;"> 未查询到结果</td></tr>
				<% }%>
				
				
				<!--分页按钮栏-->
				<tr><td  colspan="5">
					<input type="button" name="btnFirst" id="btnFirst" value="首页" onclick=" btnFirst_click('<%=keyword%>','<%=pageCount%>','<%=pno%>')"  />
					<input type="button" name="btnBack" id="btnBack" value="上一页" onclick="btnBack_click( '<%=keyword%>','<%=pageCount%>','<%=pno%>') " />
					<input type="button" name="btnNext" id="btnNext" value="下一页" onclick="btnNext_click('<%=keyword%>','<%=pageCount%>','<%=pno%>') " />					
					<input type="button" name="btnLast" id="btnLast"  value="尾页" onclick=" btnLast_click('<%=keyword%>','<%=pageCount%>','<%=pno%>')" />
					
				</td></tr>
				
				<!--错误信息及页码提示栏-->
				<%  if(errMsg){ %>	
				<tr><td  colspan="5"><% errMsg %></td></tr>
				<% }else{ %>
				<tr>
					<td class="msg" colspan="5">当前页:<%=pno%> &nbsp;&nbsp;&nbsp;总页数:<%=pageCount%></td>
				</tr>					
				<%}%>
								
				
			</table>

		</form>
	</body>

</html>